body, html, h1 { padding:0; margin:0; border:0; }
body {
	background:#333;
	color:#fff;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-bottom:100px;
}
h1#page-title {
	text-align:center;
	padding:0;
	width:320px;
	height:150px;
	margin:0 auto 10px;
	text-indent:-9999px;
	overflow:hidden;
	background:transparent url("splayer.png") top center no-repeat;
}
#wrapper {
	width:900px;
	background:#666;
	padding:30px;
	margin:0 auto;
}
ul {
	float:left;
}
#wrapper:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.splayer {
	padding:0;
	margin:0;
	list-style:none;
	padding:0;
	margin:0 10px 10px 0;
	list-style:none;
	position:relative;
	cursor:pointer;
}
.splayer li.mask {
	position:absolute;
	background:rgba(0,0,0,0);
	left:0;
	top:0;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	
	transition-property:left, top, background, width;
	transition-duration:.3s;
	transition-timing-function:ease-out;
	-moz-transition-property:left, top, background, width;
	-moz-transition-duration:.3s;
	-moz-transition-timing-function:ease-out;
	-webkit-transition-property:left, top, background, width;
	-webkit-transition-duration:.3s;
	-webkit-transition-timing-function:ease-out;
}
.splayer li img {
	position:absolute;
	left:0;
	box-shadow:0 0 5px rgba(0,0,0,.25);
	background:#fff;
	padding:5px;

	transition-property:left, top;
	transition-duration:.1s;
	transition-timing-function:ease-out;
	-moz-transition-property:left, top;
	-moz-transition-duration:.1s;
	-moz-transition-timing-function:ease-out;
	-webkit-transition-property:left, top;
	-webkit-transition-duration:.1s;
	-webkit-transition-timing-function:ease-out;
}
.splayer.expanded li img {
	transition-duration:.3s;
	-moz-transition-duration:.3s;
	-webkit-transition-duration:.3s;
}