body, html, h1 { padding:0; margin:0; border:0; }
body {
	background:#333;
	color:#fff;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-bottom:100px;
}
h1#page-title {
	text-align:center;
	padding:15px 0 20px;
	text-shadow:0 -2px 0 #000;
	font-weight:500;
}
#wrapper {
	width:900px;
	background:#666;
	padding:30px;
	margin:0 auto;
}
ul {
	float:left;
}
#wrapper:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.splayer {
	padding:0;
	margin:0;
	list-style:none;
	padding:0;
	margin:0 10px 10px 0;
	list-style:none;
	position:relative;
}
.splayer li img {
	position:absolute;
	left:0;
	cursor:pointer;
	box-shadow:0 0 5px rgba(0,0,0,.25);
	background:#fff;
	padding:5px;
	
	transition:left .1s linear;
	-moz-transition:left .1s linear;
	-webkit-transition:left .1s linear;
}