body, html, h1 { padding:0; margin:0; border:0; }
body {
	background:#333;
	color:#fff;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:20px 0 100px;
}
h1#page-title {
	text-align:center;
	padding:0;
	width:320px;
	height:150px;
	margin:0 auto 10px;
	text-indent:-9999px;
	overflow:hidden;
	background:transparent url("splayer.png") top center no-repeat;
}
#wrapper {
	width:900px;
	background:#666;
	padding:30px;
	margin:0 auto;
}
ul {
	float:left;
}
#wrapper:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.splayer {
	margin:0 10px 10px 0;
}